<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <appSettings>
    <!-- LOCALIZE THIS IF NEEDED -->
    <add key="LocalTimeZone" value="Central European Standard Time"/>
  </appSettings>
  <connectionStrings>
    <!-- LOCALIZE THIS IF NEEDED -->
    <add name="AndromedaConnectionString" connectionString="Data Source=tcp:ifat.database.windows.net,1433;Initial Catalog=Andromeda;Persist Security Info=True;User ID=andromeda;Password=7n1PzV0gaz6OHH7OBKaR"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.diagnostics>
    <trace>
      <listeners>
        <add type="Microsoft.WindowsAzure.Diagnostics.DiagnosticMonitorTraceListener, Microsoft.WindowsAzure.Diagnostics, Version=2.8.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" name="AzureDiagnostics">
          <filter type="" />
        </add>
      </listeners>
    </trace>
  </system.diagnostics>
  <system.web>
    <customErrors mode="Off"></customErrors>
    <authentication mode="Forms">
      <forms loginUrl="~/AccountLogin.aspx" timeout="2880" />
    </authentication>
    <compilation debug="true" targetFramework="4.0" />
    <membership>
      <providers>
        <clear />
        <add name="AspNetSqlMembershipProvider"
             requiresQuestionAndAnswer="false"
             connectionStringName="AndromedaConnectionString"
             minRequiredNonalphanumericCharacters="0"
             type="System.Web.Security.SqlMembershipProvider, System.Web, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
      </providers>
    </membership>
    <roleManager enabled="true" />
  </system.web>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
    <rewrite>
      <rules>
        <clear/>
        <!-- LOCALIZE THIS IF NEEDED -->
        <rule name="AndromedaForum" enabled="true" stopProcessing="true">
          <match url="^andromeda-forum(/?)$"/>
          <conditions logicalGrouping="MatchAll" trackAllCaptures="false"/>
          <action type="Redirect" url="{WRITE YOUR OWN FORUM'S URL HERE}"/>
        </rule>
        <rule name="AndromedaUpload" enabled="true" stopProcessing="true">
          <match url="^andromeda-upload(/?)$"/>
          <conditions logicalGrouping="MatchAll" trackAllCaptures="false"/>
          <action type="Redirect" url="AndromedaUpload.wmv"/>
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
  <system.serviceModel>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true"
      multipleSiteBindingsEnabled="true" />
    <services>
      <service name="Andromeda.WebServices.AndromedaService">
        <endpoint binding="basicHttpBinding" contract="Andromeda.WebServices.IAndromedaService" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service name="Andromeda.WebServices.InformationService">
        <endpoint behaviorConfiguration="InformationServiceEndpointBehavior"
          binding="webHttpBinding" contract="Andromeda.WebServices.IInformationService" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service name="Andromeda.WebServices.ClientService">
        <endpoint binding="basicHttpBinding" contract="Andromeda.WebServices.IClientService" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
      <endpointBehaviors>
        <behavior name="InformationServiceEndpointBehavior">
          <webHttp/>
        </behavior>
      </endpointBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>